In [1]:
import pandas as pd

In [19]:
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 6.2, 5.1, 5.2], 
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 

df = pd.DataFrame(data)
df

     Name  Height Qualification
0     Jai     5.1           Msc
1  Princi     6.2            MA
2  Gaurav     5.1           Msc
3    Anuj     5.2           Msc

In [20]:
df = df.set_index("Name")
df

        Height Qualification
Name
Jai        5.1           Msc
Princi     6.2            MA
Gaurav     5.1           Msc
Anuj       5.2           Msc

In [23]:
address = {'Delhi': 'Jai', 'Patna': 'Gaurav', 'Bangalore': 'Princi', 
        'Chennai': 'Anuj'}

new_addresses = dict(zip(list(address.values()),list(address.keys())))

new_addresses

{'Jai': 'Delhi', 'Gaurav': 'Patna', 'Princi': 'Bangalore', 'Anuj': 'Chennai'}

In [18]:
df['Address'] = address 
df

        Height Qualification    Address
Name
Jai        5.1           Msc      Delhi
Princi     6.2            MA      Patna
Gaurav     5.1           Msc  Bangalore
Anuj       5.2           Msc    Chennai

In [14]:
df.index

Index(['Jai', 'Princi', 'Gaurav', 'Anuj'], dtype='object', name='Name')

In [29]:
address

{'Delhi': 'Jai', 'Patna': 'Gaurav', 'Bangalore': 'Princi', 'Chennai': 'Anuj'}

In [30]:
df['address'] = df.index.map(new_addresses)

In [31]:
df

        Height Qualification    address
Name
Jai        5.1           Msc      Delhi
Princi     6.2            MA  Bangalore
Gaurav     5.1           Msc      Patna
Anuj       5.2           Msc    Chennai

Index(['Jai', 'Princi', 'Gaurav', 'Anuj'], dtype='object', name='Name')

In [ ]:
# add new column using dictionary, key is index, value is what's in the new column
# df[name of new col] = df.index.map(dict with key as indexes, value is new col)